
.container { border:2px solid #ccc; width:150px; height: 300px; overflow-y: scroll; }

.containerLeft{
    float:left;
}

.containerRight{
    float:right;
}

h2{
    margin-top:10px;
    margin-bottom:0;
}

.clearBoth{
    clear:both;
}

.footer, .header{
    font-size: x-small;
    background-color: #CCC;
    width:100%
}

#title{
    font-size: 11pt;
    color:#B11015;
    font-weight:bold;
    text-align: center;
    width:100%;
    background-color: #EEEEEE;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#links{
    font-size: 8pt;    
    position:absolute;
    top:2px;
    left:5px;
}

#helpLink{
    padding-left: 2px;
    vertical-align: super;
}

#availableClasses{
    min-width: 250px;
}

.tools{
  padding: 10px 0 10px 0;  
  
}

.version{
    font-size:8pt;
}
