
.container { border:2px solid #ccc; width:200px; height: 300px; overflow-y: scroll; }

.containerLeft{
    float:left;
}

.containerRight{
    float:right;
}

.clearBoth{
    clear:both;
}

.footer, .header{
    font-size: x-small;
    background-color: #CCC;
    width:100%
}

#availableClasses{
    min-width: 250px;
}
